# Programmation Orientée Objets

In [9]:
from datetime import date, timedelta

In [7]:
# ville est un objet (data, instance) est de type str (classe str, modèle)
ville = "Toulouse"
# méthodes du stype str
print(ville.lower())
print(ville.startswith('To'))
# opérateurs au comportement spécifique
print(ville + " ville rose")
print(ville * 3)
print(ville[:3])
print('ou' in ville)
# built-ins fonctions au comportement spécifique
print(len(ville))
print(str(ville))
print(repr(ville))

toulouse
True
Toulouse ville rose
ToulouseToulouseToulouse
Tou
True
8
Toulouse
'Toulouse'

In [27]:
# d est un objet (une instance) de la classe date (type, modèle)
d = date.today()
# constructeur du type date
juin2 = date(2020,6,2)
print(d, juin2)
# attributs spécifiques du type date
print(d.year, d.month, d.day)
# méthodes spécifiques au type date
print(d.strftime('%d/%m/%Y'))
print(d.isoformat())
# opérateurs spécifiques du type date
print(d == date(2020,6,2))
print(d < date(2020,6,2))
print(d + timedelta(days=4))
# built-in fonctions
print(str(d))
print(repr(d))

2020-05-29 2020-06-02
2020 5 29
29/05/2020
2020-05-29
False
True
2020-06-02
2020-05-29
datetime.date(2020, 5, 29)

In [43]:
# définition du type Movie (classe) pour représenter des objets movies
class Movie:
    def __init__(self, title, year, duration=None):
        """constructeur de la classe Movie"""
        self.title = title
        self.year = year
        self.duration = duration
        
    # implémentation de built-in fonctions
    def __repr__(self):
        """redéfinition du comportement de repr/str"""
        return f'{self.title} ({self.year})'

In [46]:
movie1 = Movie("Joker", 2019, 122)
movie2 = Movie("Spider-Man: Far from Home", 2019, 129)
movie3 = Movie("Lord of War", 2005)
movies = [ movie1, movie2, movie3]
print(movie1.title, movie1.year, movie1.duration, sep=', ')
print(movie2.title, movie2.year, movie2.duration, sep=', ')
print(movie3.title, movie3.year, movie3.duration, sep=', ')
print(movie1) # appelle implicitement str
print(movie2)
movie1 # apelle implictement repr

Joker, 2019, 122
Spider-Man: Far from Home, 2019, 129
Lord of War, 2005, None
Joker (2019)
Spider-Man: Far from Home (2019)

Joker (2019)

In [37]:
type(movie1)

__main__.Movie

In [47]:
movies

[Joker (2019), Spider-Man: Far from Home (2019), Lord of War (2005)]

In [48]:
for m in movies:
    print(m.title)

Joker
Spider-Man: Far from Home
Lord of War

In [49]:
[ m.title for m in movies ]

['Joker', 'Spider-Man: Far from Home', 'Lord of War']

In [51]:
", ".join(m.title for m in movies if m.year==2019)

'Joker, Spider-Man: Far from Home'

In [53]:
min(m.year for m in movies)

2005

In [56]:
dureeTotale = sum(m.duration for m in movies if m.duration is not None)
dureeTotale

251

In [57]:
movie3.duration = 122

In [58]:
dureeTotale = sum(m.duration for m in movies if m.duration is not None)
dureeTotale

373

In [60]:
movies[2].duration

122