# Premiers pas en Python

## 1. Expressions

In [3]:
3+6

9

## 2. Variables

In [4]:
x = 5
y = x + 5

In [7]:
x

5

In [11]:
y

10

In [12]:
x = 13
x

13

In [17]:
# Type entier : int
# pas de limite en python 3 (en python 2 : int + long)
type(x)

int

In [14]:
-156

-156

In [15]:
bigDistance = 14500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001
bigDistance

14500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001

In [16]:
bigDistance + 1

14500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002

In [18]:
# nombre à virgule flottante (float) : IEEE754
# Ex architecture 64 bits : 1 bit de signe, 11 bits d'exposant, 52 bits de mantisse (chiffres significatifs)
temperature = 25.4
temperature

25.4

In [19]:
type(temperature)

float

In [20]:
distanceUnivers = 2.56E60
distanceUnivers

2.56e+60

In [21]:
distanceAtomique = 3.456E-24
distanceAtomique

3.456e-24

In [22]:
temperature = -270.5
temperature

-270.5

In [23]:
# base 10 humaine pas tout à fait compatible avec la base 2
# 0.10 (base 10) = 0.000110011001100110011... (base 2)
prixBonbon = 0.10
prixBonbon

0.1

In [24]:
2 * prixBonbon

0.2

In [25]:
3 * prixBonbon

0.30000000000000004

In [27]:
biggestNumber = 1E308
biggestNumber

1e+308

In [28]:
biggestNumber * 10

inf

In [29]:
pasUnNombre = float('nan')
pasUnNombre

nan

In [30]:
pasUnNombre + 1

nan

In [31]:
# textes : str
ville = "Toulouse"
ville

'Toulouse'

In [32]:
villeFormateur = 'Pau'
villeFormateur

'Pau'

In [33]:
motAvecQuote = "Aujourd'hui"
motAvecQuote

"Aujourd'hui"

In [35]:
phrase = 'Aujourd\'hui je dis : "Il fait beau"'
phrase

'Aujourd\'hui je dis : "Il fait beau"'

In [36]:
type(phrase)

str

In [37]:
print(phrase)

Aujourd'hui je dis : "Il fait beau"

## 3. Opérateurs

In [39]:
# float et int => float
temperature + 1

-269.5

In [40]:
x - 3

10

In [41]:
prixBonbon * 4

0.4

In [42]:
temperature / 10

-27.05

In [44]:
# vraie division (truediv)
175 / 10

17.5

In [46]:
# division entiere : quotient
175 // 10

17

In [47]:
# reste division entière ou modulo
175 % 10

5

In [48]:
2**10

1024

In [49]:
# opérateur de comparaison (ordre) => bool
# <  <=  >  >=
temperature < 30

True

In [50]:
temperature >= 30

False

In [51]:
# Toulouse et après Pau dans l'ordre lexicographique
ville < villeFormateur

False

In [52]:
# comparaison de contenu (valeur)
prixBonbon == 0.2

False

In [53]:
prixBonbon != 0.2

True

In [61]:
# combinaison logique : or, and, not
# NB: or et and sont séquentiels : True or ? => True,  False and ? => False sans évaluer le 2e opérande
temperature = 26.7
(prixBonbon < 1) and (temperature > 20)

True

In [62]:
# True and False => False
(prixBonbon < 1) and (temperature < 20)

False

In [63]:
# True or False => True
(prixBonbon < 1) or (temperature > 20)

True

In [64]:
not (prixBonbon < 1)

False

In [54]:
# opérateurs bit à bit (bitwise) ou de décalage (shift)
# | (ou), & (et), ^ (xor), ~ (not)      << (gauche)  >> (droite)
# Ex : 5 = 101  ou 6 = 110 => 7 = 111
5 | 6

7

In [55]:
5 & 6

4

In [56]:
# 101 décalé de 1 cran => 1010
5<<1

10

In [65]:
# opérateurs sur des textes : +, *, in, not in, []
# + sur les str : concaténation (couteux en mémoire)
"Je suis à " + ville

'Je suis à Toulouse'

In [66]:
ville * 3

'ToulouseToulouseToulouse'

In [68]:
# str * non str => impossible
# TypeError: can't multiply sequence by non-int of type 'str'
# Ex: ville * villeFormateur

In [69]:
# in : contained
'ou' in ville

True

In [70]:
not ('ou' in villeFormateur)

True

In [71]:
'ou' not in villeFormateur

True

In [72]:
ville[0]

'T'

In [73]:
ville[1]

'o'

In [74]:
ville[7]

'e'

In [76]:
# index est protégé
# IndexError: string index out of range
# ville[8]

In [77]:
len(ville)

8

In [88]:
pos = 0

In [89]:
# A évaluer plusieurs fois pour aller du début jusqu'à la fin 
lettre = ville[pos]
pos = pos + 1
lettre

'T'

In [90]:
# dernière lettre d'un mot
ville[len(ville)-1]

'e'

In [91]:
# simplifié en :
ville[-1]

'e'

In [92]:
ville[-2]

's'

In [93]:
ville[-8]

'T'

In [95]:
# IndexError: string index out of range
# ville[-9]

In [97]:
# slice du 1er index inclus au 2e exclus
ville[1:3]

'ou'

In [98]:
ville[3:6]

'lou'

In [99]:
ville[:3]

'Tou'

In [100]:
ville[3:]

'louse'

In [101]:
ville[:]

'Toulouse'

In [102]:
# NB : on progresse toujours de la gauche vers la droite
ville[-3:]

'use'

In [104]:
ville[-4:-2]

'ou'

In [105]:
ville[-2:-4]

''

In [106]:
ville[6:2]

''

In [107]:
ville[2:2]

''

In [108]:
ville[25:35]

''

In [109]:
ville[3:50]

'louse'

In [110]:
# Toulouse => #o_l_u_#
ville[1:7:2]

'olu'

In [111]:
ville[1::2]

'olue'

In [112]:
ville[::2]

'Tuos'

In [113]:
ville[-2:-4:-1]

'su'

In [114]:
ville[::-1]

'esuoluoT'

In [115]:
ville[:3] == 'Tou'

True

In [116]:
ville[:3] == 'tou'

False

In [118]:
# str non modifiable
# TypeError: 'str' object does not support item assignment
# ville[0] = 'Z'

In [120]:
# modification sur place (in place)
# pos = pos + 1 se reécrit
pos = 4
pos += 1

In [121]:
pos

5

In [122]:
pos *= 3
pos

15

In [123]:
pos **= 2

In [124]:
pos

225

In [125]:
# ++ n'existe pas en python
# SyntaxError: invalid syntax
# pos++

SyntaxError: invalid syntax (<ipython-input-125-c67a3ba4c944>, line 1)

In [126]:
3 + 4 * 5

23

## 4. Conteneurs : sequence (list,tuple) et dictionnaires (dict)

In [127]:
temperatures = [24.7, 28.3, 35.1, 12.3, -2.5]
temperatures

[24.7, 28.3, 35.1, 12.3, -2.5]

In [128]:
type(temperatures)

list

In [129]:
villes = ['Toulouse', 'Pau', 'Rodez', 'Montpellier', 'Paris', 'Perpignan']
villes

['Toulouse', 'Pau', 'Rodez', 'Montpellier', 'Paris', 'Perpignan']

In [131]:
# liste hétérogène non recommandée
[ 12, 123.5, 'Python']

[12, 123.5, 'Python']

In [133]:
ville in villes

True

In [134]:
ville not in villes

False

In [135]:
villes + ['Bayonne', 'Bordeaux']

['Toulouse',
 'Pau',
 'Rodez',
 'Montpellier',
 'Paris',
 'Perpignan',
 'Bayonne',
 'Bordeaux']

In [137]:
villes += ['Bayonne', 'Bordeaux']

In [138]:
villes

['Toulouse',
 'Pau',
 'Rodez',
 'Montpellier',
 'Paris',
 'Perpignan',
 'Bayonne',
 'Bordeaux']

In [139]:
villes * 2

['Toulouse',
 'Pau',
 'Rodez',
 'Montpellier',
 'Paris',
 'Perpignan',
 'Bayonne',
 'Bordeaux',
 'Toulouse',
 'Pau',
 'Rodez',
 'Montpellier',
 'Paris',
 'Perpignan',
 'Bayonne',
 'Bordeaux']

In [140]:
villes[0]

'Toulouse'

In [141]:
villes[-1]

'Bordeaux'

In [142]:
villes[:3]

['Toulouse', 'Pau', 'Rodez']

In [144]:
villes[-1] = 'Marseille'
villes

['Toulouse',
 'Pau',
 'Rodez',
 'Montpellier',
 'Paris',
 'Perpignan',
 'Bayonne',
 'Marseille']

In [147]:
villes[2:4] = ['Valence', 'Lyon']
villes

['Toulouse',
 'Pau',
 'Valence',
 'Lyon',
 'Paris',
 'Perpignan',
 'Bayonne',
 'Marseille']

In [148]:
villes[2:4] = ['Grenoble', 'Chambery', 'Vienne']
villes

['Toulouse',
 'Pau',
 'Grenoble',
 'Chambery',
 'Vienne',
 'Paris',
 'Perpignan',
 'Bayonne',
 'Marseille']

In [150]:
villes[-4:] = ['Lille']
villes

['Toulouse', 'Pau', 'Grenoble', 'Chambery', 'Vienne', 'Lille']

In [151]:
villes[-2:] = []
villes

['Toulouse', 'Pau', 'Grenoble', 'Chambery']

In [152]:
del villes[-1]
villes

['Toulouse', 'Pau', 'Grenoble']

In [153]:
del villes[-2:]
villes

['Toulouse']

In [154]:
len(villes)

1

In [155]:
len(temperatures)

5

In [157]:
# len n'est pas définie pour tout le monde
# TypeError: object of type 'int' has no len()
# len(123)

In [158]:
# méthode de modification d'une liste
villes.append('Pau')
villes

['Toulouse', 'Pau']

In [159]:
villes.extend(['Rodez', 'Montpellier', 'Paris', 'Perpignan'])
villes

['Toulouse', 'Pau', 'Rodez', 'Montpellier', 'Paris', 'Perpignan']

In [161]:
# méthode de lecture/calcul d'une chaîne de caractères
ville.lower()

'toulouse'

In [163]:
villes.clear?

In [164]:
help(villes.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [165]:
dir(villes)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [166]:
villes.index('Pau')

1

In [168]:
villes2 = villes[:3]
villes2

['Toulouse', 'Pau', 'Rodez']

In [169]:
# comparaison de contenu : même longueur et égalité membre à membre
villes == villes2

False

In [170]:
villes3 = ['Toulouse', 'Pau', 'Rodez']

In [171]:
villes2 == villes3

True

In [172]:
villes2 is villes3

False

In [174]:
# villes4 et ville2 référencent la même liste en mémoire (pas de copie)
villes4 = villes2
villes4

['Toulouse', 'Pau', 'Rodez']

In [176]:
villes4 == villes2

True

In [177]:
villes4 is villes2

True

In [178]:
# le slice de toute la liste est bien une copie de la liste
villes is villes[:]

False

In [180]:
villes3 is not villes2

True

In [181]:
id(villes)

2279074632008

In [182]:
id(villes2)

2279074662728

In [183]:
id(villes3)

2279067183304

In [184]:
id(villes4)

2279074662728

In [185]:
# ordre lexicographique
[3,5,7] < [4,2,1]

True

In [186]:
[3,5,7] < [3,2,1]

False

In [187]:
[3,5] < [3,5,7]

True

In [188]:
# les tuples : cousins des listes mais non modifiables
# longueur fixe => hétérogène
ville_t = ('Pau', 31000, 77000)
ville_t

('Pau', 31000, 77000)

In [189]:
type(ville_t)

tuple

In [190]:
ville_t[0]

'Pau'

In [192]:
# non modifiable 
# TypeError: 'tuple' object does not support item assignment
# ville_t[2] = 77560

In [193]:
ville_t.index('Pau')

0

In [194]:
# on "modifie" en fabricant un nouveau tuple
ville_t = (ville_t[0], ville_t[1], 77560)
ville_t

('Pau', 31000, 77560)

In [195]:
ville_t[:2] + (77560,)

('Pau', 31000, 77560)

In [196]:
(1,2,3,)

(1, 2, 3)

In [197]:
len(ville_t)

3

In [198]:
# unpacking
nom, cp, pop = ville_t

In [199]:
nom

'Pau'

In [200]:
pop

77560

In [201]:
# ValueError: too many values to unpack (expected 2)
# nom, cp = ville_t

ValueError: too many values to unpack (expected 2)

In [202]:
nom, cp, _ = ville_t

In [205]:
ville, villeFormateur

('Toulouse', 'Pau')

In [206]:
# swap de valeurs
# ville, villeFormateur = (villeFormateur, ville)
ville, villeFormateur = villeFormateur, ville

In [207]:
ville, villeFormateur

('Pau', 'Toulouse')

In [208]:
# dictionnaires : dict 
# associe clé => valeur avec clé unique
ville_d = {'nom': 'Pau', 'cp': 31000, 'pop': 77000}
ville_d

{'nom': 'Pau', 'cp': 31000, 'pop': 77000}

In [209]:
ville_d['nom']

'Pau'

In [211]:
ville_d['pop']

77000

In [212]:
type(ville_d)

dict

In [213]:
len(ville_d)

3

In [215]:
ville_d['pop'] = 77560
ville_d

{'nom': 'Pau', 'cp': 31000, 'pop': 77560}

In [216]:
ville_d['pop'] += 200
ville_d

{'nom': 'Pau', 'cp': 31000, 'pop': 77760}

In [217]:
ville_d['maire'] = 'Bayrou'
ville_d

{'nom': 'Pau', 'cp': 31000, 'pop': 77760, 'maire': 'Bayrou'}

In [218]:
del ville_d['maire']
ville_d

{'nom': 'Pau', 'cp': 31000, 'pop': 77760}

In [219]:
# vue permettant de parcourir les clés d'un dictionnaire
ville_d.keys()

dict_keys(['nom', 'cp', 'pop'])

In [220]:
ville_d.values()

dict_values(['Pau', 31000, 77760])

In [221]:
ville_d.items()

dict_items([('nom', 'Pau'), ('cp', 31000), ('pop', 77760)])

In [222]:
# application
villes_d = [ 
    {'nom': 'Pau', 'cp': 64000, 'pop': 77760},
    {'nom': 'Toulouse', 'cp': 31000, 'pop': 471000},
    {'nom': 'Rodez', 'cp': 12000, 'pop': 27000},
    {'nom': 'Paris', 'cp': 75000, 'pop': 2000000},
    ]
villes_d

[{'nom': 'Pau', 'cp': 64000, 'pop': 77760},
 {'nom': 'Toulouse', 'cp': 31000, 'pop': 471000},
 {'nom': 'Rodez', 'cp': 12000, 'pop': 27000},
 {'nom': 'Paris', 'cp': 75000, 'pop': 2000000}]

In [223]:
villes_d[2]

{'nom': 'Rodez', 'cp': 12000, 'pop': 27000}

In [224]:
villes_d[2]['nom']

'Rodez'

## 5. Structures de contrôle : conditionnelles et boucles

### 5.1 boucle for sur tout objet iterable

In [225]:
print(villes)

['Toulouse', 'Pau', 'Rodez', 'Montpellier', 'Paris', 'Perpignan']

In [226]:
print(ville)

Pau

In [230]:
for v in villes:
    print(v)
    print(v[:3])
print('--The End--')

Toulouse
Tou
Pau
Pau
Rodez
Rod
Montpellier
Mon
Paris
Par
Perpignan
Per
--The End--

In [231]:
for t in temperatures:
    print(t)

24.7
28.3
35.1
12.3
-2.5

In [232]:
for lettre in villeFormateur:
    print(lettre)

T
o
u
l
o
u
s
e

In [236]:
# l'itération sur un dictionnaire s'effectue sur ces clés
# for k in ville_d:
for k in ville_d.keys():
    print(k)

nom
cp
pop

In [237]:
for v in ville_d.values():
    print(v)

Pau
31000
77760

In [238]:
for k,v in ville_d.items():
    print(k, '->', v)

nom -> Pau
cp -> 31000
pop -> 77760

In [239]:
print(1,2,3)

1 2 3

In [240]:
# somme des températures
temperatures

[24.7, 28.3, 35.1, 12.3, -2.5]

In [241]:
total = 0.0
for t in temperatures:
    total += t
print("Somme des températures:", total)

Somme des températures: 97.89999999999999

In [242]:
total = sum(temperatures)
print("Somme des températures:", total)

Somme des températures: 97.89999999999999

### 5.2. conditionelle if

In [254]:
temperatures = [24.7, 28.3, 35.1, 12.3, -2.5, 8.4 ]

In [256]:
minTemp = 1000 # 1 valeur plus grande que toutes mes valeurs
for t in temperatures:
    if t < minTemp:
        minTemp = t
    print("JE viens de regarder la valeur :", t)
print("Température minimale:", minTemp)

JE viens de regarder la valeur : 24.7
JE viens de regarder la valeur : 28.3
JE viens de regarder la valeur : 35.1
JE viens de regarder la valeur : 12.3
JE viens de regarder la valeur : -2.5
JE viens de regarder la valeur : 8.4
Température minimale: -2.5

In [244]:
min(temperatures)

-2.5

In [245]:
max(temperatures)

35.1

In [263]:
prixBonbon = 12
if prixBonbon < 1:
    print("pas cher le bonbon")
elif prixBonbon < 10:
    print("ça commence à être un peu cher")
else:
    print("c'est un peu excessif là")

c'est un peu excessif là

### 5.3. boucle while 
NB : attention aux boucles infinies

In [265]:
pos = 0
while pos < len(villes):
    v = villes[pos]
    print("ville n°", pos, "=", v)
    pos += 1
print("--The End--")

ville n° 0 = Toulouse
ville n° 1 = Pau
ville n° 2 = Rodez
ville n° 3 = Montpellier
ville n° 4 = Paris
ville n° 5 = Perpignan
--The End--

In [266]:
pos

6

In [270]:
# Exemple : conversion base 10 => base 2
# 1ere version : affiche les bits à l'envers
nombre = 125
nb10 = nombre
while nb10 != 0:
    b = nb10 % 2
    nb10 = nb10 // 2
    print(b, "(Q=",nb10,")")

1 (Q= 62 )
0 (Q= 31 )
1 (Q= 15 )
1 (Q= 7 )
1 (Q= 3 )
1 (Q= 1 )
1 (Q= 0 )

In [280]:
# 2e version : résultat les bits (du poids fort au poids faible)
# resultat : "1111101"
nombre = 125
nb10 = nombre
nb2 = ""
while nb10 != 0:
    b = nb10 % 2
    nb10 = nb10 // 2
    nb2 = str(b) + nb2
    print(nb2)
print(nombre, "(10) =>", nb2, "(2)")

1
01
101
1101
11101
111101
1111101
125 (10) => 1111101 (2)

In [278]:
"Toulouse" + str(31)

'Toulouse31'

In [272]:
villeFormateur[::-1]

'esuoluoT'