# Premiers pas en Python

## 1. Expressions

In [3]:
3+6

9

## 2. Variables

In [4]:
x = 5
y = x + 5

In [7]:
x

5

In [11]:
y

10

In [12]:
x = 13
x

13

In [17]:
# Type entier : int
# pas de limite en python 3 (en python 2 : int + long)
type(x)

int

In [14]:
-156

-156

In [15]:
bigDistance = 14500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001
bigDistance

14500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001

In [16]:
bigDistance + 1

14500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002

In [18]:
# nombre à virgule flottante (float) : IEEE754
# Ex architecture 64 bits : 1 bit de signe, 11 bits d'exposant, 52 bits de mantisse (chiffres significatifs)
temperature = 25.4
temperature

25.4

In [19]:
type(temperature)

float

In [20]:
distanceUnivers = 2.56E60
distanceUnivers

2.56e+60

In [21]:
distanceAtomique = 3.456E-24
distanceAtomique

3.456e-24

In [22]:
temperature = -270.5
temperature

-270.5

In [23]:
# base 10 humaine pas tout à fait compatible avec la base 2
# 0.10 (base 10) = 0.000110011001100110011... (base 2)
prixBonbon = 0.10
prixBonbon

0.1

In [24]:
2 * prixBonbon

0.2

In [25]:
3 * prixBonbon

0.30000000000000004

In [27]:
biggestNumber = 1E308
biggestNumber

1e+308

In [28]:
biggestNumber * 10

inf

In [29]:
pasUnNombre = float('nan')
pasUnNombre

nan

In [30]:
pasUnNombre + 1

nan

In [31]:
# textes : str
ville = "Toulouse"
ville

'Toulouse'

In [32]:
villeFormateur = 'Pau'
villeFormateur

'Pau'

In [33]:
motAvecQuote = "Aujourd'hui"
motAvecQuote

"Aujourd'hui"

In [35]:
phrase = 'Aujourd\'hui je dis : "Il fait beau"'
phrase

'Aujourd\'hui je dis : "Il fait beau"'

In [36]:
type(phrase)

str

In [37]:
print(phrase)

Aujourd'hui je dis : "Il fait beau"

## 3. Opérateurs

In [39]:
# float et int => float
temperature + 1

-269.5

In [40]:
x - 3

10

In [41]:
prixBonbon * 4

0.4

In [42]:
temperature / 10

-27.05

In [44]:
# vraie division (truediv)
175 / 10

17.5

In [46]:
# division entiere : quotient
175 // 10

17

In [47]:
# reste division entière ou modulo
175 % 10

5

In [48]:
2**10

1024

In [49]:
# opérateur de comparaison (ordre) => bool
# <  <=  >  >=
temperature < 30

True

In [50]:
temperature >= 30

False

In [51]:
# Toulouse et après Pau dans l'ordre lexicographique
ville < villeFormateur

False

In [52]:
# comparaison de contenu (valeur)
prixBonbon == 0.2

False

In [53]:
prixBonbon != 0.2

True

In [61]:
# combinaison logique : or, and, not
# NB: or et and sont séquentiels : True or ? => True,  False and ? => False sans évaluer le 2e opérande
temperature = 26.7
(prixBonbon < 1) and (temperature > 20)

True

In [62]:
# True and False => False
(prixBonbon < 1) and (temperature < 20)

False

In [63]:
# True or False => True
(prixBonbon < 1) or (temperature > 20)

True

In [64]:
not (prixBonbon < 1)

False

In [54]:
# opérateurs bit à bit (bitwise) ou de décalage (shift)
# | (ou), & (et), ^ (xor), ~ (not)      << (gauche)  >> (droite)
# Ex : 5 = 101  ou 6 = 110 => 7 = 111
5 | 6

7

In [55]:
5 & 6

4

In [56]:
# 101 décalé de 1 cran => 1010
5<<1

10

In [65]:
# opérateurs sur des textes : +, *, in, not in, []
# + sur les str : concaténation (couteux en mémoire)
"Je suis à " + ville

'Je suis à Toulouse'

In [66]:
ville * 3

'ToulouseToulouseToulouse'

In [68]:
# str * non str => impossible
# TypeError: can't multiply sequence by non-int of type 'str'
# Ex: ville * villeFormateur

In [69]:
# in : contained
'ou' in ville

True

In [70]:
not ('ou' in villeFormateur)

True

In [71]:
'ou' not in villeFormateur

True

In [72]:
ville[0]

'T'

In [73]:
ville[1]

'o'

In [74]:
ville[7]

'e'

In [76]:
# index est protégé
# IndexError: string index out of range
# ville[8]

In [77]:
len(ville)

8

In [88]:
pos = 0

In [89]:
# A évaluer plusieurs fois pour aller du début jusqu'à la fin 
lettre = ville[pos]
pos = pos + 1
lettre

'T'

In [90]:
# dernière lettre d'un mot
ville[len(ville)-1]

'e'

In [91]:
# simplifié en :
ville[-1]

'e'

In [92]:
ville[-2]

's'

In [93]:
ville[-8]

'T'

In [95]:
# IndexError: string index out of range
# ville[-9]

In [97]:
# slice du 1er index inclus au 2e exclus
ville[1:3]

'ou'

In [98]:
ville[3:6]

'lou'

In [99]:
ville[:3]

'Tou'

In [100]:
ville[3:]

'louse'

In [101]:
ville[:]

'Toulouse'

In [102]:
# NB : on progresse toujours de la gauche vers la droite
ville[-3:]

'use'

In [104]:
ville[-4:-2]

'ou'

In [105]:
ville[-2:-4]

''

In [106]:
ville[6:2]

''

In [107]:
ville[2:2]

''

In [108]:
ville[25:35]

''

In [109]:
ville[3:50]

'louse'

In [110]:
# Toulouse => #o_l_u_#
ville[1:7:2]

'olu'

In [111]:
ville[1::2]

'olue'

In [112]:
ville[::2]

'Tuos'

In [113]:
ville[-2:-4:-1]

'su'

In [114]:
ville[::-1]

'esuoluoT'

In [115]:
ville[:3] == 'Tou'

True

In [116]:
ville[:3] == 'tou'

False

In [118]:
# str non modifiable
# TypeError: 'str' object does not support item assignment
# ville[0] = 'Z'

In [120]:
# modification sur place (in place)
# pos = pos + 1 se reécrit
pos = 4
pos += 1

In [121]:
pos

5

In [122]:
pos *= 3
pos

15

In [123]:
pos **= 2

In [124]:
pos

225

In [125]:
# ++ n'existe pas en python
# SyntaxError: invalid syntax
# pos++

SyntaxError: invalid syntax (<ipython-input-125-c67a3ba4c944>, line 1)

In [126]:
3 + 4 * 5

23

## 4. Conteneurs : sequence (list,tuple) et dictionnaires (dict)