# Traitement de texte

In [1]:
import locale

In [2]:
villes = ['Toulouse', 'Pau', 'Perpignan', 'Rodez', 'Montpellier', 'Paris', 'Mont-de-Marsan', 
          'Los Angeles', 'New York']

In [3]:
[ v for v in villes if 'on' in v]

['Montpellier', 'Mont-de-Marsan']

In [4]:
[ v for v in villes if v[0] == 'P' ]

['Pau', 'Perpignan', 'Paris']

In [5]:
[ v for v in villes if v[:2] == 'Pa' ]

['Pau', 'Paris']

In [6]:
[ v for v in villes if v.startswith('Pa') ]

['Pau', 'Paris']

In [7]:
[ v for v in villes if v.endswith('an') ]

['Perpignan', 'Mont-de-Marsan']

In [8]:
villes.extend(['bayonne', 'Biarritz', 'belgrade'])
villes

['Toulouse',
 'Pau',
 'Perpignan',
 'Rodez',
 'Montpellier',
 'Paris',
 'Mont-de-Marsan',
 'Los Angeles',
 'New York',
 'bayonne',
 'Biarritz',
 'belgrade']

In [9]:
[ v for v in villes if v.startswith('B') ]

['Biarritz']

In [10]:
v = 'Biarritz'

In [11]:
v.lower()

'biarritz'

In [12]:
v.upper()

'BIARRITZ'

In [13]:
titre = 'once upon a time in hollywood'

In [14]:
titre.title()

'Once Upon A Time In Hollywood'

In [15]:
titre.capitalize()

'Once upon a time in hollywood'

In [16]:
motAllemand = 'Straße'

In [17]:
motAllemand.upper()

'STRASSE'

In [18]:
motAllemand.upper().lower()

'strasse'

In [19]:
motAllemand.upper().lower() == motAllemand

False

In [20]:
motAllemand.casefold() == motAllemand.upper().casefold()

True

In [21]:
ville = '東京'
ville

'東京'

In [22]:
ville.upper()

'東京'

In [23]:
villeM = 'Москва'
villeM

'Москва'

In [24]:
villeM[-1] == 'a'

False

In [25]:
# le а cyrillique est différent du a latin
'а' == 'a'

False

In [26]:
villes

['Toulouse',
 'Pau',
 'Perpignan',
 'Rodez',
 'Montpellier',
 'Paris',
 'Mont-de-Marsan',
 'Los Angeles',
 'New York',
 'bayonne',
 'Biarritz',
 'belgrade']

In [27]:
# built-in fonction sorted produit une nouvelle liste
villesSorted = sorted(villes)
villesSorted

['Biarritz',
 'Los Angeles',
 'Mont-de-Marsan',
 'Montpellier',
 'New York',
 'Paris',
 'Pau',
 'Perpignan',
 'Rodez',
 'Toulouse',
 'bayonne',
 'belgrade']

In [28]:
villes.sort()

In [29]:
villes

['Biarritz',
 'Los Angeles',
 'Mont-de-Marsan',
 'Montpellier',
 'New York',
 'Paris',
 'Pau',
 'Perpignan',
 'Rodez',
 'Toulouse',
 'bayonne',
 'belgrade']

In [30]:
sorted(villes, reverse=True)

['belgrade',
 'bayonne',
 'Toulouse',
 'Rodez',
 'Perpignan',
 'Pau',
 'Paris',
 'New York',
 'Montpellier',
 'Mont-de-Marsan',
 'Los Angeles',
 'Biarritz']

In [31]:
sorted(villes, key=str.casefold)

['bayonne',
 'belgrade',
 'Biarritz',
 'Los Angeles',
 'Mont-de-Marsan',
 'Montpellier',
 'New York',
 'Paris',
 'Pau',
 'Perpignan',
 'Rodez',
 'Toulouse']

In [32]:
sorted(villes, key=str.casefold, reverse=True)

['Toulouse',
 'Rodez',
 'Perpignan',
 'Pau',
 'Paris',
 'New York',
 'Montpellier',
 'Mont-de-Marsan',
 'Los Angeles',
 'Biarritz',
 'belgrade',
 'bayonne']

In [33]:
villes.append(ville)
villes.append(villeM)
villes

['Biarritz',
 'Los Angeles',
 'Mont-de-Marsan',
 'Montpellier',
 'New York',
 'Paris',
 'Pau',
 'Perpignan',
 'Rodez',
 'Toulouse',
 'bayonne',
 'belgrade',
 '東京',
 'Москва']

In [34]:
sorted(villes, key=str.casefold)

['bayonne',
 'belgrade',
 'Biarritz',
 'Los Angeles',
 'Mont-de-Marsan',
 'Montpellier',
 'New York',
 'Paris',
 'Pau',
 'Perpignan',
 'Rodez',
 'Toulouse',
 'Москва',
 '東京']

In [35]:
# comparaison avec l'ordre des caractères
# cf collation : FR : e é è ê ë à la même position (c/ç)
# cf collation : ES : n < ñ
print('été' < 'étuve')
locale.setlocale(locale.LC_ALL,'fr_FR')
print(locale.strcoll('été', 'étuve'))  # <0 : ordre croissant
print(locale.strcoll('mañana', 'mano')) # <0 : ordre décroissant car ñ et n sont la même lettre en FR
locale.setlocale(locale.LC_ALL,'es_ES')
print(locale.strcoll('mañana', 'mano')) # >0 : ordre décroissant car ñ > n en espagnol

False
-1
-1
1